html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
}


* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
}


#chat {
  height: 100%;
  justify-content: center;
  align-items: center; 
}

input {
  width: 60%;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;

  
}

button {
  width: 20%;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.form {
  width: 50vw;
}

.messages {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  border: 3px solid #ddd;
  padding: 20px;
}

.messages .emissor{
width: 100%;
text-align: right;
  
}

.messages .receptor{
width: 100%;
    text-align: left;
  
}


ul {
}

lu {
}