html,
body {
  height: 100%;
  display: flex;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
  flex: 1;
}

input {
  width: 325px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  
}

button {
  width: 70px;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.messages {
  width: 400px;
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
}

ul {
}

lu {
}
